.git
.venv
.ruff_cache
.pytest_cache
pytest-cache-files-*
tests
data/*
!data/.gitkeep
.streamlit/*
!.streamlit/config.toml
.streamlit/secrets.toml
.env
.env.*
__pycache__
*.pyc
*.pyo
*.pyd
*.log
docs
.github
README.md
